<form>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="form-control">Nome</label>
    </div>
    
    <div class="col-sm-12"> 
      <input type="name" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
    </div>

  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="form-control" formControlName="emprego">Emprego</label>
    </div>

    <div class="col-sm-12">
      <input type="name" class="form-control" name="nome" id="nome">
    </div>
  </div>
 
  <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>